@font-face {
    font-family: "OpenSans-Regular";
    src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url("./assets/fonts/WorkSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Exo2-Regular";
    src: url("./assets/fonts/Exo2-Regular.ttf") format("truetype");
}
main {
    min-height: 100vh;
    background: linear-gradient(
            rgba(246, 246, 247, 0.875),
            rgba(246, 246, 247, 0.875)
        ),
        url("./assets/images/app-background.jpg") 50% 50% / cover;
    font-family: "WorkSans-Regular";
}

.loading,
.error {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

div.title {
    padding: 2rem 0;
    text-align: center;
}
div.title h3.sub-title {
    color: #4a4a56;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
div.title h2.main-title {
    color: #1b1b20;
    font-size: 3rem;
}

.countdown-container .countdown {
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    border: 7px solid var(--primary-500);
    border-radius: 50%;
}
.countdown-container .countdown section {
    text-align: center;
}
.countdown-container .countdown section h2 {
    font-weight: bold;
    margin-bottom: 0.25rem;
    animation: beat 1s ease-out infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.text {
    background-color: white;
    box-shadow: 0 0 8px 2px var(--light-200);
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.text p {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.25rem;
}
@media screen and (max-width: 567px) {
    .text p {
        font-size: 0.87rem;
    }
}
.text p span {
    padding: 0.25rem;
}
.text p span.active-word-default {
    background-color: var(--warning-500);
}
.text p span.active-word-wrong {
    background-color: var(--danger-500);
    color: white;
}
.text p span.active-word-correct {
    color: #ababb0;
}

.input-text {
    padding: 2rem 0;
}
.input-text input {
    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-family: "WorkSans-Regular";
    letter-spacing: 1px;
}
.input-text input:focus {
    outline: 1px solid var(--primary-500);
}
.input-text input::placeholder {
    color: var(--light-900);
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s;
    display: grid;
    place-items: center;
}
.modal.show-modal {
    transform: translateX(0);
}
.modal .modal-content {
    max-width: 375px;
    display: flex;
    gap: 0.75rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
@media screen and (max-width: 480px) {
    .modal .modal-content {
        flex-direction: column-reverse;
        width: 80%;
    }
}
.modal .modal-content img {
    width: 128px;
    height: auto;
}
.modal .modal-content article h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.modal .modal-content article p {
    text-align: justify;
    line-height: 1.8;
    font-size: 0.87rem;
}
.modal .modal-content article p strong {
    font-weight: bold;
}
